@import "tailwindcss";

.fontSize18px {
  font-size: 18px;
}

.gradiendGreybg {
  background-image: linear-gradient(#464850, #19191b);
}

.customBlueColor {
  color: #01c9eb;
}
.customBlueBgColor {
  background-color: #0a7082;
}

.customBlueBgColor:hover {
  background-color: #094854;
}
