* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5e5e5;
}

/* Component 3 : ImageBulb.jsx CSS ----------------------------------------------------------------------- */

.Image-Bulb-Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBulb-Container {
  background-color: rgba(128, 128, 128, 0.514);
  height: 4.5rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.buttonBulb-Container > .ImgBulbButtonTag {
  height: 2.8rem;
  width: 2rem;
  background-color: white;
}

.bulb-button-shadow {
  box-shadow: 0rem 0.5rem;
}

.wire1,
.wire2 {
  background-color: black;
  height: 11rem;
  width: 4px;
}

/*  Component 2 : DivBulb.jsx CSS ------------------------------------------------------------- */

.main-container {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bulb-container {
  height: 12em;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bulb-case {
  background-color: white;
  height: 7rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.bulb {
  background-color: black;
  height: 4rem;
  width: 0.3rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.bulb-connector {
  background-color: grey;
  height: 2rem;
  width: 1rem;
  justify-self: center;
}
.bulb-buttonTag {
  padding: 15px;
  border-radius: 10rem;
  font-weight: bold;
  transition: box-shadow 0.5s;
}

.bulb-buttonTag:hover {
  box-shadow: 10px 10px 5px #0c1324;
}

.bulb-case-Color {
  background-color: yellow;
}

.bulb-container-border {
  background-color: rgba(216, 216, 9, 0.455);
}

/* Component 1 : Counter.jsx CSS -------------------------------------- */

.counter-container {
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  transition: box-shadow 0.5s;
}

.counter-container:hover {
  box-shadow: 20px 20px 5px #0c1324;
}

.counter-text {
  font-size: 45px;
  color: white;
}

#count {
  color: #fca311;
  padding: 5px;
  border-radius: 10px;
}

.counter-btns {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  height: 5rem;
}

.counter-buttonTag {
  background-color: #e5e5e5;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 25px;
  transition: margin-bottom 0.5s;
}

.counter-buttonTag:hover {
  margin-bottom: 10px;
  box-shadow: 0px 10px 5px #0c1324;
  cursor: pointer;
}

.reset-btn {
  font-size: 20px;
}

/* FINISH */
